@using MvcCvProje.Models.Entity
@model List<TblHobilerim>


<div class="resume-section-content">
    <h2 class="mb-5">Hobilerim</h2>
    @foreach (var x in Model)
    {

        <h6>
            <br /> <br />
            @x.Aciklama1
        </h6>
        <p class="mb-0">
            @x.Aciklama2
        </p>
            }
</div>
