@using MvcCvProje.Models.Entity
@model List<TblYeteneklerim> 

<div class="resume-section-content">
    <h2 class="mb-5">Yetenekler</h2>
    <div class="subheading mb-3">Programlar & Uygulamalar</div>
    
    @foreach (var x in Model)
    {

    <ul class="fa-ul mb-0">
        <li>
            <span class="fa-li"><i class="fas fa-check"></i></span>
            @x.Yetenek
        </li>

    </ul>
    }
</div>
