@using MvcCvProje.Models.Entity
@model List<TblSosyalMedya>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<!DOCTYPE html>
<html>

<body class="hold-transition sidebar-mini">
    <div class="wrapper">
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">Sosyal Medya</h3>
                            </div>
                            <!-- /.card-header -->
                            <div class="card-body">
                                <button class="btn btn-outline-primary" data-toggle="modal" data-target="#modal1"> Yeni Sosyal Medya Ekle</button>
                                <br />
                                <br />
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th style="width: 10px">#</th>
                                            <th>Sosyal Medya</th>
                                            <th>Durum</th>
                                            <th>Düzenle</th>
                                            <th>Sil</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                            <tr>
                                                <td>@item.ID</td>
                                                <td>@item.Ad</td>
                                                <td>@item.Durum</td>
                                                <td>
                                                    <a class="btn btn-info btn-sm" href="/SosyalMedya/SayfaGetir/@item.ID">
                                                        <i class="fas fa-pencil-alt">  Düzenle</i>
                                                    </a>
                                                </td>
                                                <td>
                                                    <a class="btn btn-danger btn-sm" href="/SosyalMedya/Sil/@item.ID">
                                                        <i class="fas fa-trash-alt"> Sil</i>
                                                    </a>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <div class="modal" id="modal1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title">Sosyal Medya Hesabı Ekle</h3>
                    </div>
                    <form action="/SosyalMedya/Ekle" method="post">
                        <div class=" modal-body">
                            <label>Sosyal Medya İsmi</label>
                            <input type="text" name="Ad" value="" class="form-control" />
                            <br />
                            <label>Sosyal Medya Linki</label>
                            <input type="text" name="Link" value="" class="form-control" />
                            <br />
                            <label>Sosyal Medya İkonu</label>
                            <input type="text" name="Ikon" value="" class="form-control" />
                            <br />
                        <button class="btn btn-success">Güncelle</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>



    </div>
</body>
</html>


