
@{
    ViewBag.Title = "AdminEkle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Yeni Kullanıcı Ekleme</h2>
<br />
<h4>Yeni Deneyim Ekleme Sayfası</h4>
<br />
<form method="post">

    <input type="text" name="KullaniciAdi" value="" class="form-control" placeholder="Kullanıcı Adı" />
    <br />
    <input type="text" name="Sifre" value="" class="form-control" placeholder="Parola " />
    <br />
 
    <button class="btn btn-info">Kaydet</button>

</form>

